<div class="container" id="overall">
	<h3> 截止 <i id="time"></i>, <a href="#"> IIEGuard </a> 已分析 <i id='mal-number'> </i> 个Android软件</h3>
</div> 
<legend><i class="icon-search"></i> Search </legend>
<form role="form" id="form-search" method="post" action="#">
	<div class="row">
		<div class="form-group col-md-6">
			<input type="text" name="file_md5" id="form-search-md5-input" 
			class="form-control" placeholder="File MD5"/>
			<p class="help-block"></p>
		</div>
		<div class="form-group col-md-6">
			<input type="text" name="signature" id="form-search-signature-input" 
			class="form-control" placeholder="Signature"/>
			<p class="help-block"></p>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-6">
			<input type="text" name="pkg" id="form-search-pkg-input" 
			class="form-control" placeholder="Package Name"/>
			<p class="help-block"></p>
		</div>
		<div class="form-group col-md-6">
			<input type="text" name="mal_type" id="form-search-mal-input" 
			class="form-control" placeholder="Malware Type"/>
			<p class="help-block"></p>
		</div>
	</div>
  	<div id="form-search-msg"></div>
  	<button type="button" class="btn btn-primary has-spinner" id="form-search-btn">
		<span class="spinner"><i class="icon-spin icon-spinner"></i>
		</span>
		<i class="icon-search"> 搜索</i>
	</button>
	<button type="button" class="btn btn-primary has-spinner" id="form-all-btn">
		<span class="spinner"><i class="icon-spin icon-spinner"></i>
		</span>
		<i class="icon-th-list"> 所有</i>
	</button>
</form>



