<table id="apk-table" style="width: 900px">
	<legend><i class="icon-table"> Reports</i></legend>
    <thead>
        <tr>
	         <th class="tableBg1" rowspan="1" colspan="1"> 文件MD5 </th>
	         <!--<th rowspan="1" colspan="1"> App Name </th> -->
	         <th rowspan="1" colspan="1"> 文件包名 </th>
	         <th rowspan="1" colspan="1"> 威胁度 </th>
	         <!-- <th rowspan="1" colspan="1"> Type </th> -->
	         <th rowspan="1" colspan="1"> 已审核 </th>
	         <!-- added by songalee at 20170725 -->
	         <th rowspan="1" colspan="1"> 完成时间 </th>
	   </tr>
    </thead>
    <tbody>
    </tbody>
</table>