<div class="tab-pane" id="about">
	<div class="container" id="self-intro">
		<h4>
			I am a post-graduate at <a href="http://nskeylab.xjtu.edu.cn/site/lab/"> NSKeyLab 
			,<a href="http://www.xjtu.edu.cn"> Xi'an Jiaotong University </a> and interested in
			<em> mobile security </em>.
		</h4>
	</div>

	<div class="container">
		<h3>CONTACT</h3>
	</div>
	<div class="container" id="icon-container">
		<a href="mailto:mindmac.hu@gmail.com">
			<i class="icon" id="email" title="Gmail"></i>
		</a>
		<a target="_blank" href="https://plus.google.com/1035049110789581107290?rel=author">
			<i class="icon" id="google-plus" title="Google+"></i>
		</a>
	</div>
	
</div>